/*
    fonts
*/
$mnt:'Montserrat', sans-serif;


/*
    colors
*/
$mainText: #000000;
$secondaryText: #92a1a5;

$mainBg: #ffffff;
$headerBg: #eff2f6;
$visionBg: #232323;

$visionBorder: #3b3b3b;
$generationBorder: #eff2f6;

$accentColor: #ff343d; 



