/*
    fonts
*/
$mnt:               "Montserrat", sans-serif;

$xs:                 48px;
$md:                 60px;
$xl:                 92px;
/*
    colors
*/
$mainText:          #000000;
$secondaryText:     #92a1a5;
$invertedText:      #ffffff;

$textShadow:        #000101;

$mainBg:            #ffffff;
$headerBg:          #eff2f6;
$visionBg:          #232323;

$visionBorder:      #3b3b3b;
$flyingBorder:      #eff2f6;

$sliderInactive:    #e1e1e1;

$accentColor:       #ff343d;
