@import "vars";
@import "libs";
@import "fonts";

/* common */
body {
  font-family: $mnt;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style: none;
}
li {
  display: inline-block;
}
/*modules*/
.container-outer{
    max-width: 2000px;
    width: 100%;
}
h1 {
  font-size: 92px;
}
h2 {
  font-size: 60px;
}
h3 {
  font-size: 48px;
}
.colored-text {
  color: $red;
}
.button {
  padding: 22px 36px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.logo {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}
.logo:before{
    content: "";
    position: absolute;
    background: url(../img/logo-circle.png) 50% 50% no-repeat;
    width: 20px;
    height: 20px;
    top: -8px;
    right: -12px;
}

.logo__link {
  color: $black;
}
/*main stlyles*/
/*---intro---*/

.intro {
  max-width: 2000px;
  height: 100vh;
  background: linear-gradient(to right, rgba(#eff2f6, 1) calc(100% * 2 / 3), rgba(#ff343d, 1) calc(100% * 2 / 3));
  position: relative;
  overflow: hidden;
  z-index:10;
}
.intro:after{
    content:'mars';
    color: $red;
    display: block;
    position: absolute;
    transform: rotate(90deg);
    font-size: 300px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0px 0px 55px rgba(#000101, 0.3);
    top: 260px;
    right: -340px;
    z-index: -10;
}
.intro__header {
  margin-top: 70px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
}
.header-logo {
  margin-right: 70px;
}
.header__phone {
  margin-left: 70px;
  margin-right: auto;
}
.header__buy-link {
}
.intro__slider {
  /*background-color: rgba(grey, 0.5);*/
}
.slider__item {
  width: 100%;
  outline: 1px solid gray;
}
.slide-item__text-box {
  max-width: calc(100% * 1 / 3-200px);
  float: left;
  padding-left: 200px;
  vertical-align: middle;
  outline: 1px dashed green;
}
.text-box__header{
    margin-top: 60%;
    margin-bottom: 50px;
    text-transform: uppercase;
    z-index: 10;
}
.text-box__text {
  font-size: 14px;
  line-height: 30px;
  color: $dark;
}
.slide-item__image-box {
  float: right;
  width: calc(100% * 2 / 3);
  text-align: center;
  position: relative;
  z-index: 20;
  outline: 1px dashed blue;
}
/*.slide-item__image-box:before {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  background: linear-gradient(to top, (#fff) 0%, (#fff) 100%);
  transform: translate(-50%, -50%);
  z-index: -10;
   
}*/
.slide-item__image-box:before {
    content: "\f111";
    position: absolute;
    font-size: 30vw;
    top: 50%;
    left: 50%;
    color: #000101;
    transform: translate(-50%, -50%);
    z-index: -10;
     
  }
.slide-img {
  max-width: 80%;
  outline: 1px dotted yellow;
}

/*---/intro---*/
/*---header---*/

/*---/header---*/
/*---features---*/
.features__header{
    margin-top: 125px;
    margin-bottom: 125px;
    text-transform: capitalize;
    text-align: center;
}
.features__box{
    margin-bottom: 125px;
    display: flex;
    justify-content: space-evenly;
}
.features-card{
    text-align: center;
}
.features-card__img{
    margin-bottom: 75px;
}
.feature-card__text{
    font-size: 30px;
    text-transform: capitalize;
}
/*---/features---*/
/*---generation---*/
.generation{
    display: flex;
}
.col6{
    flex-basis: 50%;
    flex-grow: 1;
}
.col-6--text{
    max-width: 100%; 
    background: url(../img/dron-Icon.png) 195% 40% no-repeat;
}
.col-6--text::first-letter{
    text-transform: uppercase;
}
.generation-pic{
    max-width: 100%;
}
/*---/generation---*/
/*---header---*/

/*---/header---*/

@import "media";
