@import "vars";
@import "libs";
@import "fonts";

/* common */
body {
  font-family: $mnt;
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style: none;
}
li {
  display: inline-block;
}
/*modules*/
.container-outer {
  max-width: 2000px;
  margin: auto;
  width: 100%;
}
.container-inner {
  width: 80%;
  margin: 0 auto;
}
.row {
  display: flex;
}
.col-6 {
  flex-basis: 50%;
}
.col-4 {
  flex-basis: calc(100% / 3);
}
.header {
  font-weight: 700;
  &--xs {
    font-size: $xs;
  }
  &--md {
    font-size: $md;
  }
  &--xl {
    font-size: $xl;
  }
  &--accented:after {
    content: ".";
    font-size: $xl;
    color: $accentColor;
  }
}
.header::first-letter {
  text-transform: uppercase;
}
.accented-text {
  color: $accentColor;
  &:before {
    content: "\202F";
  }
}
.button {
  border-radius: 2.6rem;
  padding: 1.6rem 2.6rem;
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
}
.logo {
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}
.logo:before {
  content: "";
  position: absolute;
  background: url(../img/logo-circle.png) 50% 50% no-repeat;
  width: 20px;
  height: 20px;
  top: -8px;
  right: -12px;
}

.logo__link {
  color: $mainText;
}
/*---slick---*/
.my-dots {
  position: absolute;
  left: -46.5%;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}
.my-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 15px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.my-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.my-dots li button:hover,
.my-dots li button:focus {
  outline: none;
}
.my-dots li button:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  background: $sliderInactive;
  width: 7px;
  height: 7px;
  top: 0;
  left: 0;
}
.my-dots li.slick-active button:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  background: $accentColor;
  width: 7px;
  height: 7px;
}
/*---/slick---*/
/*MAIN STYLES*/
/*---INTRO---*/

.intro {
  background: linear-gradient(
    to right,
    rgba($headerBg, 1) calc(100% * 2 / 3),
    rgba($accentColor, 1) calc(100% * 2 / 3)
  );
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 10;
  &-company-name {
    color: $accentColor;
    display: block;
    position: absolute;
    transform: rotate(90deg);
    font-size: 300px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0px 0px 55px rgba($textShadow, 0.3);
    top: 85px;
    right: -15%;
    z-index: -10;
  }
    &-header {
    margin-top: 70px;
    margin-bottom: 100px;
    display: flex;
    flex-shrink: 1;
    justify-content: space-between;
    align-items: center;
    &__logo {
    }
    &__phone {
      margin-left: 90px;
      margin-right: auto;
      padding-left: 20px;
      position: relative;
      &:before {
        content: "\f095";
        color: $secondaryText;
        font-family: fontAwesome;
        font-size: 10px;
        position: absolute;
        top: 3px;
        left: 0;
        transform: rotate(90deg);
      }
      &-link {
        color: $secondaryText;
        font-weight: 500;
      }
    }
    &__order-link {
    }
  }
}

.intro__slider {
  flex-grow: 1;
  position: relative;
}
.slider {
  &-card {
    display: flex;
    height: 62vh;
    &__text-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-basis: calc(100% / 3);
      padding-left: 6%;
    }
    &__header {
      margin-bottom: 48px;
      text-transform: uppercase;
    }
    &__text {
    }
    &__image-box {
      background: url(../img/intro-slider-bg.png) 50% 50% no-repeat;
      background-size: contain;
      flex-basis: calc(100% * 2 / 3);
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }
    &__img {
      display: block;
      height: 56vh;
      max-width: 100%;
    }
  }
}

/*---/INTRO---*/
/*---MAIN---*/
/*---features section---*/
.features {
  padding-top: 125px;
  &-header {
    margin-bottom: 125px;
    text-transform: capitalize;
    text-align: center;
  }
  &-box {
    margin-bottom: 125px;
    display: flex;
    justify-content: space-between;
    &__card {
      flex-basis: 25%;
      text-align: center;
      &-img {
        margin-bottom: 75px;
      }
      &-text {
        font-size: 2.14rem;
        text-transform: capitalize;
      }
    }
  }
}
/*---/features section---*/
/*---vision section---*/
.vision {
  &-image {
    &__img {
      display: block;
      max-width: 100%;
      width: 100%;
    }
  }
  &-text {
    background: linear-gradient(rgba($visionBg, 0.95)), url(../img/vision-bg.png);
    background-position: top 50% right -60%;
    background-repeat: no-repeat;
    padding-top: 188px;
    padding-left: 105px;
    &__header {
      line-height: 102px;
      margin-bottom: 50px;
    }
    &__button {
      color: $invertedText;
      border: 2px solid $visionBorder;
      transition: all 0.2s ease-in;
      &:hover {
        color: $accentColor;
        border: 2px solid $accentColor;
      }
    }
  }
}
/*---/vision section---*/
/*---flying section---*/
.flying {
  &-text {
    padding-left: 6%;
    padding-top: 327px;
    padding-bottom: 232px;
    &__header {
      line-height: 102px;
      margin-bottom: 62px;
    }
    &__button {
      color: $mainText;
      border: 2px solid $flyingBorder;
      transition: all 0.2s ease-in;
      &:hover {
        color: $accentColor;
        border: 2px solid $accentColor;
      }
    }
  }
  &-image {
    padding-top: 145px;

    overflow: hidden;
    &__img {
      position: relative;
      left: 13%;
      display: block;
      max-width: 100%;
    }
  }
}
/*---/flying section---*/
/*---journey section---*/

/*---/journey section---*/
/*---FOOTER---*/

/*---/FOOTER---*/

@import "media";
